{% extends 'layout.html' %}
{% block body %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="flex-grow-1 text-center">
        <h1 class="border border-secondary m-3 p-1 bg-secondary text-white rounded bolder"><i class="bi bi-geo-alt"></i> Locations Details</h1>
    </div>
</div>
<hr>
<table class="table table-bordered  table-sm mx-auto w-auto text-center">
    <thead >
        <th>S.No</th>
        <th>LOC_ID</th>
        <th>LOCATION NAME</th>
        <th>EDIT</th>
    </thead>
    <tbody>
        {% for row in datas %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{row.L_ID}}</td>
                <td>{{row.L_NAME}}</td>
                <td><a href='{{url_for("edit_locations",lid=row.L_ID)}}' class="btn btn-outline-warning">Edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}