{% extends 'layout.html' %}
{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="flex-grow-1 text-center">
            <h1 class="border border-secondary m-3 p-1 bg-secondary text-white rounded bolder">Products Movement Record</h1>
        </div>
    </div>
    <hr>
    <table class="table table-bordered  table-sm mx-auto w-auto text-center">
        <thead >
            <th>S.No</th>
            <th>MOV_ID</th>
            <th>TIME</th>
            <th>Product ID</th>
            <th>QTY</th>
            <th>From Location</th>
            <th>To Location</th>
        </thead>
        <tbody>
            {% for row in datas %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{row.MOV_ID}}</td>
                    <td>{{row.TIMESTAMP}}</td>
                    <td>{{row.P_ID}}</td>
                    <td>{{row.QTY}}</td>
                    <td>{{row.FROM_LOCATION}}</td>
                    <td>{{row.TO_LOCATION}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}